@model SMS.Models.Customer

@{
    Layout = null;
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>@ViewBag.Title - SMS</title>
    @Styles.Render("~/Content/content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Favicons -->
    @Styles.Render("~/Content/")
    @Styles.Render("~/Content/")

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Vendor CSS Files -->
    @Styles.Render("~/Content/SMS_online/Bootstrap-vendor/aos/aos.css")
    @Styles.Render("~/Content/SMS_online/Bootstrap-vendor/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Content/SMS_online/Bootstrap-vendor/bootstrap-icons/bootstrap-icons.css")
    @Styles.Render("~/Content/SMS_online/Bootstrap-vendor/boxicons/css/boxicons.min.css")
    @Styles.Render("~/Content/SMS_online/Bootstrap-vendor/glightbox/css/glightbox.min.css")
    @Styles.Render("~/Content/SMS_online/Bootstrap-vendor/swiper/swiper-bundle.min.css")
    @Styles.Render("~/Content/SMS_online/Login/css/material-dashboard.css?v=3.0.0")

    <!-- Template Main CSS File -->
    @Styles.Render("~/Content/SMS_online/Bootstrap-SMS.css")

</head>
<body class="img js-fullheight" style="background-image: url('../../img/bg-login.jpg');">
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent" style="background: rgba(52, 59, 64, 0.9)">
        <div class="container d-flex justify-content-between align-items-center">
            <!-- Logo page -->
            <div id="logo">
                <a href="index.html"><img src="/img/logo.png" alt=""></a>
                <!-- Uncomment below if you prefer to use a text logo -->
                <h1>@Html.ActionLink("SMS-OL", "Index")</h1>
            </div>

            <!-- Navbar header -->
            <nav id="navbar" class="navbar">
                <ul>
                    <li>@Html.ActionLink("Home", "Index")</li>
                    <li class="dropdown">
                        @Html.ActionLink("Login", "Login")
                        <ul>
                            <li>@Html.ActionLink("Register", "Register")</li>
                        </ul>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- End navbar header -->
        </div>
    </header>
    <!-- End Header -->
    <!-- ======= Sign up Section ======= -->
    <!-- Main -->
    <main class="main-content  mt-0">
        <div class="page-header align-items-start min-vh-100" style="background-image: url('../../img/bg-login.jpg');">
            <span class="mask bg-gradient-dark opacity-6"></span>
            <div class="container my-auto">
                <div class="row">
                    <div class="col-lg-4 col-md-8 col-12 mx-auto">
                        <div class="card z-index-0 fadeIn3 fadeInBottom">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                                    <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Sign up</h4>
                                </div>
                            </div>
                            <!-- Form Sign in -->
                            <div class="card-body">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">
                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CustomerID, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.CustomerID, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.NumberPhone, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.NumberPhone, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.NumberPhone, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                <div class="checkbox">
                                                    @Html.TextBoxFor(model => model.Status)
                                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AdvertisementID, "AdvertisementID", htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.DropDownList("AdvertisementID", null, htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.AdvertisementID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Create" class="btn btn-default" />
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div><!-- End form Sign in -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <footer class="footer position-absolute bottom-2 py-2 w-100">
                <div class="container">
                    <div class="row align-items-center justify-content-lg-between">
                        <div class="col-12 col-md-6 my-auto">
                            <div class="copyright text-center text-sm text-white text-lg-start">
                                ©
                                <script>document.write(new Date().getFullYear())</script>,
                                design by <a href="https://www.creative-tim.com" class="font-weight-bold text-white" target="_blank">Team</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End Footer -->
        </div>
    </main><!-- End main -->
    <!-- End Login Section -->
    <!-- Login JS -->
    @Scripts.Render("~/Content/SMS_online/Login/js/bootstrap.min.js")
    @Scripts.Render("~/Content/SMS_online/Login/js/jquery.min.js")
    @Scripts.Render("~/Content/SMS_online/Login/js/main.js")
    @Scripts.Render("~/Content/SMS_online/Login/js/popper.js")


</body>
</html>

<div>
    @Html.ActionLink("Back to List","Home", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
